<!-- Footer Start -->
<div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">La Fromagerie de Caudéran</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>70 Avenue du Général Leclerc 33200 Bordeaux</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+33 05 56 54 58 65</p>
                <div class="d-flex pt-3">
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Navigation</h5>
                <a class="btn btn-link" href="{{ path('cookies-policy') }}">Les cookies</a>
                <a class="btn btn-link" href="{{ path('legal-notice') }}">Mention légales</a>
                <a class="btn btn-link" href="{{ path('privacy-policy') }}">Politique de confidentialité</a>
                <a class="btn btn-link" href="{{ path('app_contact') }}">Contact</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Horaires</h5>
                <p class="mb-1">Mardi - Samedi</p>
                <h6 class="text-light">09:00 - 19:00 </h6>
                <p class="mb-1">Dimanche</p>
                <h6 class="text-light">09:00 - 12:00</h6>
                <p class="mb-1">Lundi</p>
                <h6 class="text-light">Fermé</h6>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Retrouvez-nous</h5>
                <div id="map" style="width: 300px; height: 200px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d90510.
                        75054634026!2d-0.6795888861059819!3d44.852909995682566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
                        1!4m8!3e6!4m0!4m5!1s0xd54d74e32cef315%3A0xcb007e8fa4ebc53c!2s70%20Av.
                        %20du%20G%C3%A9n%C3%A9ral%20Leclerc%2C%2033200%20Bordeaux!3m2!1d44.8529561!2d-0.
                        6095261!5e0!3m2!1sfr!2sfr!4v1689780283440!5m2!1sfr!2sfr"
                            width="300" height="200" style="border:0;
                        " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Footer End -->