<h1>Activez votre compte</h1>
<h2>Bonjour {{ user.firstname }} {{ user.lastname }}</h2>

<p>
     <br>Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant :<br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement, l'équipe de la fromagerie.
</p>
