{% extends 'base.html.twig' %}

{% block title %}Hello HistoryController!{% endblock %}

{% block body %}
<h1 class="text-center">Notre histoire</h1>
    <p class="text-center">
        Il était une fois un jeune homme passionné de fromage du nom de Rémi, qui avait toujours rêvé de partager
        sa passion avec le monde. Après avoir travaillé plusieurs années dans de prestigieuses fromageries, il décida
        qu'il était temps de réaliser son rêve et d'ouvrir son propre magasin. C'était un pari audacieux, mais il était
        prêt à tout pour que son amour du fromage puisse enfin s'épanouir pleinement.
    </p>
    <p class="text-center">
        Un matin ensoleillé de printemps, Rémi dévoila fièrement son nouveau magasin, qu'il avait appelé "La fromagerie
        de Caudéran". Située au cœur d'une petite rue animée, la boutique était décorée de manière chaleureuse avec des
        couleurs apaisantes et des étagères en bois rustiques. L'enseigne affichait un joyeux petit sourire de fromage,
        donnant le ton accueillant de l'endroit.
    </p>
    <p class="text-center">
        Rémi n'aurait pu être plus heureux. Sa passion pour le fromage était devenue le moteur de son bonheur quotidien.
        Il avait réalisé son rêve de faire de sa passion son métier, et chaque jour, il savourait la chance de faire
        découvrir à ses clients les merveilles de l'univers fromager. La fromagerie de Caudéran était bien plus qu'un
        simple magasin, c'était devenu un lieu où l'amour du fromage était célébré, partagé, et où les sourires étaient
        aussi contagieux que la passion de Rémi pour son métier.
    </p>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Notre équipe</p>
                <h1 class="mb-5">Un talent et une passion</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="{{ asset('assets/images/remy3test.jpg') }}" alt="">
                        <h5>Rémy Belperon</h5>
                        <p class="text-primary">Fondateur</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="{{ asset('assets/images/team1.jpg') }}" alt="">
                        <h5>Jordan Dubois</h5>
                        <p class="text-primary">Vendeur</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="{{ asset('assets/images/team2.jpg') }}" alt="">
                        <h5>Laura Chauvassagne</h5>
                        <p class="text-primary">Vendeuse</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!--Producers-->
    <h3 class="text-center">Nos producteurs</h3>
    <p class="text-center">
        Au cœur des vallées verdoyantes et des collines pittoresques se cachent les véritables héros de l'univers
        fromager : les producteurs de fromage. Leurs mains expertes et leur dévouement sans faille font battre le
        cœur de cette tradition séculaire, transmettant l'art du fromage de génération en génération.
    </p>
    <p class="text-center">
        Chaque matin, avant que le soleil n'éclaire le ciel, les producteurs se lèvent avec une ferveur palpable.
        Leurs journées commencent tôt, car c'est au petit matin que le lait est le plus riche et parfumé. Ils se
        rendent dans leurs fermes, accueillant le bétail avec tendresse et respect. La relation qu'ils entretiennent
        avec leurs animaux va bien au-delà du simple échange de ressources : c'est une communion, une connexion profonde
        avec la nature et ses bienfaits.
    </p>
    <p class="text-center">
        Avec une expertise acquise au fil des années, les producteurs de fromage savent comment récolter le lait avec
        délicatesse. Chaque goutte est précieuse, car elle contient l'essence même de leur art. La qualité du lait
        déterminera la saveur et la texture du fromage final, et ils le savent mieux que quiconque.
    </p>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Nos fournisseurs</p>
                <h1 class="mb-5">Découvrez des professionnels engagés</h1>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="img/service-1.jpg" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="img/service-1.jpg" alt="">
                            </div>
                            <h5 class="mb-3">La ferme de George</h5>
                            <p class="mb-4">Perdu dans les montagnes des Alpes, George produit sont lait à plus de
                            3000m d'altitude</p>
                            <!-- Future link to producer
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                            -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="img/service-2.jpg" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="img/service-2.jpg" alt="">
                            </div>
                            <h5 class="mb-3">Les délices de Marine</h5>
                            <p class="mb-4"> Pâtissière dans l'âme. Ses biscuits salés et ses croutons régalent
                                les papilles de tous nos clients</p>
                            <!-- Future link to producer
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                            -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="img/service-3.jpg" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="img/service-3.jpg" alt="">
                            </div>
                            <h5 class="mb-3">Le vignoble de Charlie</h5>
                            <p class="mb-4">Vigneron de père en fils, Charlie est engagé dans les vins biologiques,
                            et le respect de l'environnement</p>
                            <!-- Future link to producer
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Producers-->
{% endblock %}
